Telescope/.metadata/.lock
Telescope/.metadata/.log
Telescope/.metadata/.mylyn/repositories.xml.zip
Telescope/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Telescope/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Telescope/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Telescope/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
Telescope/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Telescope/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Telescope/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
Telescope/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Telescope/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
Telescope/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
Telescope/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
Telescope/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
Telescope/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
Telescope/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
Telescope/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Telescope/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Telescope/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Telescope/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Telescope/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdt
Telescope/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdx
Telescope/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fnm
Telescope/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.frq
Telescope/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.nrm
Telescope/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tii
Telescope/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tis
Telescope/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments.gen
Telescope/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
Telescope/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fdt
Telescope/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fdx
Telescope/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fnm
Telescope/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.frq
Telescope/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.nrm
Telescope/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.tii
Telescope/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.tis
Telescope/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments.gen
Telescope/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_1
Telescope/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/server-config.json
Telescope/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Telescope/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Telescope/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Telescope/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Telescope/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Telescope/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Telescope/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Telescope/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.2.20150902-0002.xml
Telescope/.metadata/.plugins/org.eclipse.oomph.setup.ui/dialog_settings.xml
Telescope/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
Telescope/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Telescope/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Telescope/.metadata/version.ini
